.btn-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    text-decoration: none;
    border: 1px solid gray;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    cursor: pointer;
}
.btn-right.arrow {
    width: 36px;
}
.btn-right.week {
    width: 75px;
}
.btn-right:hover {
    border: 1px solid #CE6AFD;
    border-left: none;
}
.btn-right.week.active {
    border: 1px solid #CE6AFD;
    border-right: none;
}
.btn-right.week.active:hover {
    cursor: auto;
}