.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;
}
.btn:hover {
    border: 1px solid #CE6AFD;
}