/* .main-table-header {
    display: flex;
} */
/* .table-header-left {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.table-header-left p {
    margin-right: 8px;
} */
/* .table-header-right {
    display: flex;
    align-items: center;
}
.calendar.btn {
    margin-right: 8px;
}
.calendar img {
    width: 22px;
    height: 22px;
} */